/**
 * @file
 * Sass functions for Grrids project.
 */

@use "sass:math";

/**
 * Determines background width used to display grid columns for debugging.
 *
 * @param Number $columns: The number of columns to divide the row background
 *   into. Default: 24.
 * @return Number: the percentage width to make the background image.
 */
@function get-background-size($columns: 24) {
  @return math.div(100%, $columns) * 2;
}

/**
 * Returns the width, in grid columns, of a particular fraction.
 *
 * @param Number $numerator: the numerator of the fractional width of a row.
 * @param Number $denominator: the denominator of the fractional width of a row.
 * @return Number: The number of grid columns a certain fraction is equiavalent
 *   to. So, for 2/3 of a 48 column grid, the function returns 32.
 */
@function get-fraction-columns($numerator, $denominator) {
  @return math.div($grid-columns * $numerator, $denominator);
}

/**
 * Returns a grid-area value for centering a single cell in a grid row.
 *
 * For example, to center a 1/12 cell in a row, we'd use:
 *
 *   grid-area: get-grid-area(12);
 *
 * In the compiled css, this would appear as:
 *
 *   grid-area: 1/23/1/27;
 *
 * The calculations are:
 *
 * start = (deonominator - 1) / denominator * columns / 2 + 1
 * end = start + columns / denominator
 *
 * For 1/12, this would be
 *
 * $start: ((12 - 1) / 12 * 48 / 2) + 1 = 23
 * $end: 23 + 48 / 12 * 1 = 27
 *
 * @param Number $numerator: the numerator of the fractional width of the cell
 *   to center. So, to center a 1/12-width cell, this would be 1.
 * @param Number $denominator: the denominator of the fractional width of the
 *   cell to center. So, to center a 1/12-width cell, this would be 12.
 * @return String: A grid-area declaration for a single row. So for a 1/12-with
 *   cell, this would be '1/23/1/27'.
 */
@function get-grid-area($numerator, $denominator) {
  $start: math.div(($denominator - $numerator), $denominator) * math.div($grid-columns, 2) + 1;
  $end: $start + get-fraction-columns($numerator, $denominator);

  @return 1/#{$start}/1/#{$end};
}
