@import "functions";

:root {
  --gr-debug-color-1: 186, 171, 189; /* #baabbd */
  --gr-debug-color-2: 201, 201, 238; /* #c9c9ee */
  --gr-debug-transparency: 0.3;
  --gr-debug-row-outline-color: pink;
  --gr-debug-cell-outline-color: green;
}

/**
 * The default is the full 48 column grid.
 */
.grct[class*="grg__debug"] {
  background-image:
    linear-gradient(
      90deg,
      rgba(var(--gr-debug-color-1), var(--gr-debug-transparency)) 0%,
      rgba(var(--gr-debug-color-1), var(--gr-debug-transparency)) 50%,
      rgba(var(--gr-debug-color-2), var(--gr-debug-transparency)) 50%,
      rgba(var(--gr-debug-color-2), var(--gr-debug-transparency)) 100%
    );
  background-size: get_background-size(48);
}

.grct.grg__debug--twenty-fourths {
  background-size: get-background-size(24);
}

.grct.grg__debug--twelfths {
  background-size: get-background-size(12) 100%;
}

.grct.grg__debug--eighths {
  background-size: get-background-size(8) 100%;
}

.grct.grg__debug--sixths {
  background-size: get-background-size(6) 100%;
}

.grct.grg__debug--quarters,
.grct.grg__debug--fourths {
  background-size: get-background-size(4) 100%;
}

.grct.grg__debug--thirds {
  background-size: get-background-size(3) 100%;
}

.grct.grg__debug--halves {
  background-size: get-background-size(2) 100%;
}

[class^="grr"].grr__debug {
  outline: 1px solid var(--gr-debug-row-outline-color);
  outline-offset: 2px;
}

[class^="grr"].grc__debug > * { outline: 1px solid var(--gr-debug-cell-outline-color); }
